In [72]:
# Import dependencies
import pandas as pd

In [73]:
# Load anime data
file_anime = 'data/animes.csv'
anime_df = pd.read_csv(file_anime)

In [74]:
# Remove columns we won't need
anime_df = anime_df[['uid', 'title', 'synopsis', 'members', 'popularity', 'ranked', 'score']]
anime_df.head()

,uid,title,synopsis,members,popularity,ranked,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,489888,141,25.0,8.82
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,995473,28,24.0,8.83
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,581663,98,23.0,8.83
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...",1615084,4,1.0,9.23
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,214621,502,22.0,8.83

In [75]:
anime_df.shape

(19311, 7)

In [65]:
anime_df.dtypes

uid             int64
title          object
synopsis       object
members         int64
popularity      int64
ranked        float64
score         float64
dtype: object

In [76]:
# Remove animes with user scores less than 7; don't want to reccomend bad shows!
# also gets rid of 13778 rows in anime_df :)
anime_df = anime_df[anime_df['score'] > 6.99]
anime_df.shape

(5533, 7)

In [77]:
# Check for missing values
anime_df.isna().sum()

uid             0
title           0
synopsis      160
members         0
popularity      0
ranked        328
score           0
dtype: int64

In [78]:
# Drop rows that are missing a synoposis
anime_df = anime_df.dropna(axis=0, how='any', subset=['synopsis'])

In [80]:
# Make sure rows are dropped (ex: 29 and 31 should be missing)
anime_df[27:32]

,uid,title,synopsis,members,popularity,ranked,score
27,5680,K-On!,"Hirasawa Yui, a young, carefree girl entering ...",610222,90,792.0,7.86
28,451,InuYasha Movie 3: Tenka Hadou no Ken,"Izayoi and Inu no Taishou, Inuyasha's parents,...",68407,1527,791.0,7.86
30,30364,Haikyuu!! Movie 2: Shousha to Haisha,Second Haikyuu!! recap movie.,27734,2698,789.0,7.86
32,36369,Ginga Eiyuu Densetsu: Die Neue These - Seiran 1,The Free Planets Alliance's invasion of the Ga...,11817,4041,787.0,7.86
33,27633,Gekkan Shoujo Nozaki-kun Specials,Specials bundled with the Blu-ray/DVDs.,87789,1233,786.0,7.86

In [81]:
# Load other show data from CSVs
file_amazon = 'data/amazon_prime_titles.csv'
file_hulu = 'data/hulu_titles.csv'
file_disney = 'data/disney_plus_titles.csv'
file_netflix = 'data/netflix_titles.csv'

In [82]:
# Create df for each one
amazon_df = pd.read_csv(file_amazon)
hulu_df = pd.read_csv(file_hulu)
disney_df = pd.read_csv(file_disney)
netflix_df = pd.read_csv(file_netflix)

In [83]:
# Pare down columns
netflix_df = netflix_df[['show_id', 'title', 'description']]
disney_df = disney_df[['show_id', 'title', 'description']]
amazon_df = amazon_df[['show_id', 'title', 'description']]
hulu_df = hulu_df[['show_id', 'title', 'description']]

In [84]:
netflix_df.head()

,show_id,title,description
0,s1,Dick Johnson Is Dead,"As her father nears the end of his life, filmm..."
1,s2,Blood & Water,"After crossing paths at a party, a Cape Town t..."
2,s3,Ganglands,To protect his family from a powerful drug lor...
3,s4,Jailbirds New Orleans,"Feuds, flirtations and toilet talk go down amo..."
4,s5,Kota Factory,In a city of coaching centers known to train I...

In [85]:
# Add source flag to show ids (will be combining all of these into one df)
netflix_df['show_id'] = 'n-' + netflix_df['show_id']
disney_df['show_id'] = 'd-' + disney_df['show_id']
hulu_df['show_id'] = 'h-' + hulu_df['show_id']
amazon_df['show_id'] = 'a-' + amazon_df['show_id']

In [86]:
amazon_df.head()

,show_id,title,description
0,a-s1,The Grand Seduction,A small fishing village must procure a local d...
1,a-s2,Take Care Good Night,A Metro Family decides to fight a Cyber Crimin...
2,a-s3,Secrets of Deception,After a man discovers his wife is cheating on ...
3,a-s4,Pink: Staying True,"Pink breaks the mold once again, bringing her ..."
4,a-s5,Monster Maker,Teenage Matt Banting wants to work with a famo...

In [87]:
# Add source column 
netflix_df['source'] = 'Netflix'
disney_df['source'] = 'Disney'
hulu_df['source'] = 'Hulu'
amazon_df['source'] = 'Amazon'

In [88]:
hulu_df.head()

,show_id,title,description,source
0,h-s1,Ricky Velez: Here's Everything,​Comedian Ricky Velez bares it all with his ho...,Hulu
1,h-s2,Silent Night,"Mark, a low end South London hitman recently r...",Hulu
2,h-s3,The Marksman,A hardened Arizona rancher tries to protect an...,Hulu
3,h-s4,Gaia,A forest ranger and two survivalists with a cu...,Hulu
4,h-s5,Settlers,Mankind's earliest settlers on the Martian fro...,Hulu

In [89]:
dfs = [netflix_df, hulu_df, disney_df,amazon_df]
dfs

[      show_id                  title  \
 0        n-s1   Dick Johnson Is Dead
 1        n-s2          Blood & Water
 2        n-s3              Ganglands
 3        n-s4  Jailbirds New Orleans
 4        n-s5           Kota Factory
 ...       ...                    ...
 8802  n-s8803                 Zodiac
 8803  n-s8804            Zombie Dumb
 8804  n-s8805             Zombieland
 8805  n-s8806                   Zoom
 8806  n-s8807                 Zubaan

                                             description   source
 0     As her father nears the end of his life, filmm...  Netflix
 1     After crossing paths at a party, a Cape Town t...  Netflix
 2     To protect his family from a powerful drug lor...  Netflix
 3     Feuds, flirtations and toilet talk go down amo...  Netflix
 4     In a city of coaching centers known to train I...  Netflix
 ...                                                 ...      ...
 8802  A political cartoonist, a crime reporter and a...  Netflix
 8803  While living alone in a spooky town, a young g...  Netflix
 8804  Looking to survive in a world taken over by zo...  Netflix
 8805  Dragged from civilian life, a former superhero...  Netflix
 8806  A scrappy but poor boy worms his way into a ty...  Netflix

 [8807 rows x 4 columns],
       show_id                           title  \
 0        h-s1  Ricky Velez: Here's Everything
 1        h-s2                    Silent Night
 2        h-s3                    The Marksman
 3        h-s4                            Gaia
 4        h-s5                        Settlers
 ...       ...                             ...
 3068  h-s3069  Star Trek: The Original Series
 3069  h-s3070              Star Trek: Voyager
 3070  h-s3071                       The Fades
 3071  h-s3072               The Twilight Zone
 3072  h-s3073             Tokyo Magnitude 8.0

                                             description source
 0     ​Comedian Ricky Velez bares it all with his ho...   Hulu
 1     Mark, a low end South London hitman recently r...   Hulu
 2     A hardened Arizona rancher tries to protect an...   Hulu
 3     A forest ranger and two survivalists with a cu...   Hulu
 4     Mankind's earliest settlers on the Martian fro...   Hulu
 ...                                                 ...    ...
 3068  The 23rd century adventures of Captain James T...   Hulu
 3069  Catapulted into the distant sector of the gala...   Hulu
 3070  Seventeen-year-old Paul is haunted by apocalyp...   Hulu
 3071  Rod Serling's seminal anthology series focused...   Hulu
 3072  The devastation is unleashed in the span of se...   Hulu

 [3073 rows x 4 columns],
       show_id                                             title  \
 0        d-s1  Duck the Halls: A Mickey Mouse Christmas Special
 1        d-s2                            Ernest Saves Christmas
 2        d-s3                      Ice Age: A Mammoth Christmas
 3        d-s4                        The Queen Family Singalong
 4        d-s5                             The Beatles: Get Back
 ...       ...                                               ...
 1445  d-s1446                          X-Men Origins: Wolverine
 1446  d-s1447    Night at the Museum: Battle of the Smithsonian
 1447  d-s1448                                   Eddie the Eagle
 1448  d-s1449                              Bend It Like Beckham
 1449  d-s1450             Captain Sparky vs. The Flying Saucers

                                             description  source
 0      Join Mickey and the gang as they duck the halls!  Disney
 1     Santa Claus passes his magic bag to a new St. ...  Disney
 2             Sid the Sloth is on Santa's naughty list.  Disney
 3                  This is real life, not just fantasy!  Disney
 4     A three-part documentary from Peter Jackson ca...  Disney
 ...                                                 ...     ...
 1445  Wolverine unites with legendary X-Men to fight...  Disney
 1446  Larry Daley returns to rescue some old friends...  Disney
 1447  True story of Eddie Edwards, a British ski-jum...  Disney
 1448  Despite the wishes of their traditional famili...  Disney
 1449         View one of Sparky's favorite home movies.  Disney

 [1450 rows x 4 columns],
       show_id                    title  \
 0        a-s1      The Grand Seduction
 1        a-s2     Take Care Good Night
 2        a-s3     Secrets of Deception
 3        a-s4       Pink: Staying True
 4        a-s5            Monster Maker
 ...       ...                      ...
 9663  a-s9664      Pride Of The Bowery
 9664  a-s9665            Planet Patrol
 9665  a-s9666                  Outpost
 9666  a-s9667  Maradona: Blessed Dream
 9667  a-s9668              Harry Brown

                                             description  source
 0     A small fishing village must procure a local d...  Amazon
 1     A Metro Family decides to fight a Cyber Crimin...  Amazon
 2     After a man discovers his wife is cheating on ...  Amazon
 3     Pink breaks the mold once again, bringing her ...  Amazon
 4     Teenage Matt Banting wants to work with a famo...  Amazon
 ...                                                 ...     ...
 9663  New York City street principles get an East Si...  Amazon
 9664  This is Earth, 2100AD - and these are the adve...  Amazon
 9665  In war-torn Eastern Europe, a world-weary grou...  Amazon
 9666  The series tells the story of Diego Maradona, ...  Amazon
 9667  Harry Brown, starring two-time Academy Award w...  Amazon

 [9668 rows x 4 columns]]

In [90]:
live_action_df = pd.concat(dfs)

In [91]:
len(live_action_df)

22998

In [92]:
live_action_df

,show_id,title,description,source
0,n-s1,Dick Johnson Is Dead,"As her father nears the end of his life, filmm...",Netflix
1,n-s2,Blood & Water,"After crossing paths at a party, a Cape Town t...",Netflix
2,n-s3,Ganglands,To protect his family from a powerful drug lor...,Netflix
3,n-s4,Jailbirds New Orleans,"Feuds, flirtations and toilet talk go down amo...",Netflix
4,n-s5,Kota Factory,In a city of coaching centers known to train I...,Netflix
...,...,...,...,...
9663,a-s9664,Pride Of The Bowery,New York City street principles get an East Si...,Amazon
9664,a-s9665,Planet Patrol,"This is Earth, 2100AD - and these are the adve...",Amazon
9665,a-s9666,Outpost,"In war-torn Eastern Europe, a world-weary grou...",Amazon
9666,a-s9667,Maradona: Blessed Dream,"The series tells the story of Diego Maradona, ...",Amazon
9667,a-s9668,Harry Brown,"Harry Brown, starring two-time Academy Award w...",Amazon

In [93]:
# Count the number of shows from each source
live_action_df.groupby('source').count()

         show_id  title  description
source
Amazon      9668   9668         9668
Disney      1450   1450         1450
Hulu        3073   3073         3069
Netflix     8807   8807         8807

In [94]:
# Check to see if there are any nulls
live_action_df.isna().sum()

show_id        0
title          0
description    4
source         0
dtype: int64

In [95]:
# Drop shows without description
live_action_df = live_action_df.dropna()

In [96]:
live_action_df.shape

(22994, 4)

In [97]:
live_action_df.isna().sum()

show_id        0
title          0
description    0
source         0
dtype: int64

In [98]:
# Create clean CSVs
anime_df.to_csv('data/cleaned_anime.csv')
live_action_df.to_csv('data/cleaned_live_actions.csv')

In [99]:
live_action_df.head()

,show_id,title,description,source
0,n-s1,Dick Johnson Is Dead,"As her father nears the end of his life, filmm...",Netflix
1,n-s2,Blood & Water,"After crossing paths at a party, a Cape Town t...",Netflix
2,n-s3,Ganglands,To protect his family from a powerful drug lor...,Netflix
3,n-s4,Jailbirds New Orleans,"Feuds, flirtations and toilet talk go down amo...",Netflix
4,n-s5,Kota Factory,In a city of coaching centers known to train I...,Netflix