In [31]:
import pandas as pd
from functools import reduce

In [2]:
file_anime = 'Resources/animes.csv'
anime_df = pd.read_csv(file_anime)
anime_df.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

In [3]:
anime_df = anime_df[['uid', 'title', 'synopsis', 'members', 'popularity', 'ranked', 'score']]
anime_df.head()

,uid,title,synopsis,members,popularity,ranked,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,489888,141,25.0,8.82
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,995473,28,24.0,8.83
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,581663,98,23.0,8.83
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...",1615084,4,1.0,9.23
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,214621,502,22.0,8.83

In [4]:
anime_df.shape

(19311, 7)

In [5]:
anime_df.dtypes

uid             int64
title          object
synopsis       object
members         int64
popularity      int64
ranked        float64
score         float64
dtype: object

In [6]:
anime_df = anime_df[anime_df['score'] > 6.99]
anime_df.shape

(5533, 7)

In [7]:
anime_df.head()

,uid,title,synopsis,members,popularity,ranked,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,489888,141,25.0,8.82
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,995473,28,24.0,8.83
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,581663,98,23.0,8.83
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...",1615084,4,1.0,9.23
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,214621,502,22.0,8.83

In [9]:
file_amazon = 'Resources/amazon_prime_titles.csv'
file_hulu = 'Resources/hulu_titles.csv'
file_disney = 'Resources/disney_plus_titles.csv'
file_netflix = 'Resources/netflix_titles.csv'

In [10]:
amazon_df = pd.read_csv(file_amazon)
hulu_df = pd.read_csv(file_hulu)
disney_df = pd.read_csv(file_disney)
netflix_df = pd.read_csv(file_netflix)

In [14]:
netflix_df = netflix_df[['show_id', 'title', 'description']]
disney_df = disney_df[['show_id', 'title', 'description']]
amazon_df = amazon_df[['show_id', 'title', 'description']]
hulu_df = hulu_df[['show_id', 'title', 'description']]

In [16]:
netflix_df.head()

,show_id,title,description
0,s1,Dick Johnson Is Dead,"As her father nears the end of his life, filmm..."
1,s2,Blood & Water,"After crossing paths at a party, a Cape Town t..."
2,s3,Ganglands,To protect his family from a powerful drug lor...
3,s4,Jailbirds New Orleans,"Feuds, flirtations and toilet talk go down amo..."
4,s5,Kota Factory,In a city of coaching centers known to train I...

In [21]:
netflix_df['show_id'] = 'n' + netflix_df['show_id']
disney_df['show_id'] = 'd' + disney_df['show_id']
hulu_df['show_id'] = 'h' + hulu_df['show_id']
amazon_df['show_id'] = 'a' + amazon_df['show_id']

<ipython-input-21-e86e9ff0708e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_df['show_id'] = 'n' + netflix_df['show_id']
<ipython-input-21-e86e9ff0708e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disney_df['show_id'] = 'd' + disney_df['show_id']
<ipython-input-21-e86e9ff0708e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hulu_df['show_id'] = 'h' + hulu_df['show_id']
<ipython-input-21-e86e9ff0708e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_df['show_id'] = 'a' + amazon_df['show_id']

In [22]:
amazon_df.head()

,show_id,title,description
0,as1,The Grand Seduction,A small fishing village must procure a local d...
1,as2,Take Care Good Night,A Metro Family decides to fight a Cyber Crimin...
2,as3,Secrets of Deception,After a man discovers his wife is cheating on ...
3,as4,Pink: Staying True,"Pink breaks the mold once again, bringing her ..."
4,as5,Monster Maker,Teenage Matt Banting wants to work with a famo...

In [25]:
netflix_df['source'] = 'Netflix'
disney_df['source'] = 'Disney'
hulu_df['source'] = 'Hulu'
amazon_df['source'] = 'Amazon'

<ipython-input-25-11cf446486f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_df['source'] = 'Netflix'
<ipython-input-25-11cf446486f1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disney_df['source'] = 'Disney'
<ipython-input-25-11cf446486f1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hulu_df['source'] = 'Hulu'
<ipython-input-25-11cf446486f1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_df['source'] = 'Amazon'

In [26]:
hulu_df.head()

,show_id,title,description,source
0,hs1,Ricky Velez: Here's Everything,​Comedian Ricky Velez bares it all with his ho...,Hulu
1,hs2,Silent Night,"Mark, a low end South London hitman recently r...",Hulu
2,hs3,The Marksman,A hardened Arizona rancher tries to protect an...,Hulu
3,hs4,Gaia,A forest ranger and two survivalists with a cu...,Hulu
4,hs5,Settlers,Mankind's earliest settlers on the Martian fro...,Hulu

In [29]:
dfs = [netflix_df, hulu_df, disney_df,amazon_df]

In [36]:
live_action_df = pd.concat(dfs)

In [37]:
live_action_df

,show_id,title,description,source
0,nns1,Dick Johnson Is Dead,"As her father nears the end of his life, filmm...",Netflix
1,nns2,Blood & Water,"After crossing paths at a party, a Cape Town t...",Netflix
2,nns3,Ganglands,To protect his family from a powerful drug lor...,Netflix
3,nns4,Jailbirds New Orleans,"Feuds, flirtations and toilet talk go down amo...",Netflix
4,nns5,Kota Factory,In a city of coaching centers known to train I...,Netflix
...,...,...,...,...
9663,as9664,Pride Of The Bowery,New York City street principles get an East Si...,Amazon
9664,as9665,Planet Patrol,"This is Earth, 2100AD - and these are the adve...",Amazon
9665,as9666,Outpost,"In war-torn Eastern Europe, a world-weary grou...",Amazon
9666,as9667,Maradona: Blessed Dream,"The series tells the story of Diego Maradona, ...",Amazon
9667,as9668,Harry Brown,"Harry Brown, starring two-time Academy Award w...",Amazon

In [47]:
live_action_df.groupby('source').count()

         show_id  title  description
source
Amazon      9668   9668         9668
Disney      1450   1450         1450
Hulu        3073   3073         3069
Netflix     8807   8807         8807

In [50]:
live_action_df.isna().sum()

show_id        0
title          0
description    4
source         0
dtype: int64

In [51]:
live_action_df = live_action_df.dropna()

In [54]:
live_action_df.shape

(22994, 4)

In [55]:
live_action_df.isna().sum()

show_id        0
title          0
description    0
source         0
dtype: int64