In [1]:
import pandas as pd

In [33]:
def splitLiveActionDF(f_df):
    n_df = f_df.loc[f_df['source'] == 'Netflix']
    am_df = f_df.loc[f_df['source'] == 'Amazon']
    d_df = f_df.loc[f_df['source'] == 'Disney']
    h_df = f_df.loc[f_df['source'] == 'Hulu']

    return n_df,am_df,d_df,h_df

In [2]:
def genreList(genre_string):
        genre_string = genre_string.replace('[','')
        genre_string = genre_string.replace(']','')
        genre_string = genre_string.replace("'",'')
        genre_list = list(genre_string.split(', '))

        return genre_list

In [3]:
def formatGenreCount(df,source):
    genre_df_top = df[['Comedy','Action','Fantasy','Adventure','Drama']]
    genre_df_top = genre_df_top.count()
    genre_count_df = pd.DataFrame({'Genre': genre_df_top.index, source: genre_df_top.values})
    return genre_count_df

In [11]:
def reformatLiveGenre(genre_df):
    for index, row in genre_df.iterrows():
        if row['TV Action & Adventure'] == '1':
            genre_df.loc[index,'Action'] = '1'
            genre_df.loc[index,'Adventure'] = '1'
        elif row['Action & Adventure'] == '1':
            genre_df.loc[index,'Action'] = '1'
            genre_df.loc[index,'Adventure'] = '1'

        if row['TV Comedies'] == '1':
            genre_df.loc[index,'Comedy'] = '1'
        elif row['Comedies'] == '1':
            genre_df.loc[index,'Comedy'] = '1'

        if row['TV Sci-Fi & Fantasy'] == '1':
            genre_df.loc[index,'Fantasy'] = '1'
        elif row['Sci-Fi & Fantasy'] == '1':
            genre_df.loc[index,'Fantasy'] = '1'

        if row['TV Dramas'] == '1':
            genre_df.loc[index,'Drama'] = '1'
        elif row['Dramas'] == '1':
            genre_df.loc[index,'Drama'] = '1'
    return genre_df

In [5]:
def genreAnimeCount(df,id,genreCol):

    genre_df = df[[id,genreCol]]
    #genre_df.rename(columns={genreCol:'genre'})
    # genre_df_head = genre_df.head(5)
    unique_list = []

    for index, row in genre_df.iterrows():
        genre_list = genreList(row[genreCol])

        for x in genre_list:
            if x not in unique_list:
                unique_list.append(x)
                
        for x in genre_list:
            if x in unique_list:
                genre_df.loc[index,x] = '1'
    return genre_df

In [20]:
def genreLiveCount(df,id,genreCol):

    genre_df = df[[id,genreCol]]
    #genre_df.rename(columns={genreCol:'genre'})
    # genre_df_head = genre_df.head(5)
    unique_list = []

    for index, row in genre_df.iterrows():
        genre_list = genreList(row[genreCol])

        for x in genre_list:
            if x not in unique_list:
                unique_list.append(x)
                
        for x in genre_list:
            if x in unique_list:
                genre_df.loc[index,x] = '1'
    
    genre_df = reformatLiveGenre(genre_df)            
    return genre_df

In [ ]:
def masterGenre(a_df,f_df):
    n_df,am_df,d_df,h_df = splitLiveActionDF(f_df)

    n_genre_df = genreLiveCount(n_df,'show_id','listed_in')
    am_genre_df = genreLiveCount(am_df,'show_id','listed_in')
    d_genre_df = genreLiveCount(d_df,'show_id','listed_in')
    h_genre_df = genreLiveCount(h_df,'show_id','listed_in')

    n_genre_counts = formatGenreCount(n_genre_df,'Netflix')
    am_genre_counts = formatGenreCount(am_genre_df,'Amazon')
    d_genre_counts = formatGenreCount(d_genre_df,'Disney')
    h_genre_counts = formatGenreCount(h_genre_df,'Hulu')

    a_genre_df = genreAnimeCount(a_df,'uid','genre')
    anime_genre_counts = formatGenreCount(a_genre_df,'Anime')

    merged_genre_counts = anime_genre_counts.merge(n_genre_counts,how='inner',on='Genre')
    merged_genre_counts = merged_genre_counts.merge(am_genre_counts,how='inner',on='Genre')
    merged_genre_counts = merged_genre_counts.merge(d_genre_counts,how='inner',on='Genre')
    merged_genre_counts = merged_genre_counts.merge(h_genre_counts,how='inner',on='Genre')

    merged_genre_counts.to_csv('Updated Website/chart_data/top5genres_stack.csv',index=False)

In [7]:
a_df = pd.read_csv('coles_practice/data/animes.csv')

In [8]:
l_df = pd.read_csv('coles_practice/data/netflix_titles.csv')

In [25]:
f_df = pd.read_csv('coles_practice/data/cleaned_live_actions.csv')

In [9]:
a_genre_df = genreAnimeCount(a_df,'uid','genre')

C:\Users\coleh\anaconda3\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\coleh\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [22]:
l_genre_df = genreLiveCount(l_df,'show_id','listed_in')

C:\Users\coleh\anaconda3\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\coleh\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [14]:
anime_genre_counts = formatGenreCount(a_genre_df,'Anime')
anime_genre_counts

       Genre  Anime
0     Comedy   6461
1     Action   4215
2    Fantasy   3466
3  Adventure   3143
4      Drama   3004

In [15]:
netflix_genre_counts = formatGenreCount(l_genre_df,'Netflix')
netflix_genre_counts

       Genre  Netflix
0     Comedy     2255
1     Action     1027
2    Fantasy      327
3  Adventure     1027
4      Drama     3190

In [27]:
def masterGenre(a_df,f_df):
    n_df,am_df,d_df,h_df = splitLiveActionDF(f_df)

    n_genre_df = genreLiveCount(n_df,'show_id','listed_in')
    am_genre_df = genreLiveCount(am_df,'show_id','listed_in')
    d_genre_df = genreLiveCount(d_df,'show_id','listed_in')
    h_genre_df = genreLiveCount(h_df,'show_id','listed_in')

    n_genre_counts = formatGenreCount(n_genre_df,'Netflix')
    am_genre_counts = formatGenreCount(am_genre_df,'Amazon')
    d_genre_counts = formatGenreCount(d_genre_df,'Disney')
    h_genre_counts = formatGenreCount(h_genre_df,'Hulu')

    a_genre_df = genreAnimeCount(a_df,'uid','genre')
    anime_genre_counts = formatGenreCount(a_genre_df,'Anime')

    merged_genre_counts = anime_genre_counts.merge(n_genre_counts,how='inner',on='Genre')
    merged_genre_counts = merged_genre_counts.merge(am_genre_counts,how='inner',on='Genre')
    merged_genre_counts = merged_genre_counts.merge(d_genre_counts,how='inner',on='Genre')
    merged_genre_counts = merged_genre_counts.merge(h_genre_counts,how='inner',on='Genre')

    merged_genre_counts.to_csv('Updated Website/chart_data/top5genres_stack.csv',index=False)

In [24]:
merged_genre_counts = anime_genre_counts.merge(netflix_genre_counts,how='inner',on='Genre')
merged_genre_counts

       Genre  Anime  Netflix
0     Comedy   6461     2255
1     Action   4215     1027
2    Fantasy   3466      327
3  Adventure   3143     1027
4      Drama   3004     3190

In [16]:
genre_count_series = a_genre_df.count()
genre_count_df = pd.DataFrame({'Genre': genre_count_series.index, 'Count': genre_count_series.values})
genre_count_df = genre_count_df.drop(labels=[0])
genre_count_df = genre_count_df.drop(labels=[1])
genre_count_df = genre_count_df[genre_count_df['Genre'] != '']
genre_count_df

            Genre  Count
2          Comedy   6461
3          Sports    811
4           Drama   3004
5          School   1910
6         Shounen   2322
7           Music   1993
8         Romance   2152
9          Sci-Fi   2832
10      Adventure   3143
11        Mystery    874
12        Fantasy   3466
13         Action   4215
14       Military    678
15          Magic   1174
16   Supernatural   1719
17        Vampire    165
18  Slice of Life   2056
19         Demons    605
20     Historical   1218
21    Super Power    716
22          Mecha   1197
23         Parody    702
24        Samurai    238
25         Seinen    982
26         Police    301
27  Psychological    415
28          Josei    115
29          Space    564
30           Kids   2549
31      Shoujo Ai     87
32          Ecchi    805
33         Shoujo    788
34         Horror    511
35     Shounen Ai    113
36           Cars    133
37   Martial Arts    424
38           Game    395
39       Thriller    161
40       Dementia    419
41          Harem    435
43         Hentai   2572
44           Yaoi     78
45           Yuri     79

In [ ]:
genre_count_df.sort_values('Count',ascending=False)